@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono);
  --color-primary: #d45211;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221610;
  --font-display: var(--font-work-sans), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans), sans-serif;
}
